# Assignment 4 by Roll No PIAIC78546 Shaukat Ali

# Assignment 4
Your first assignment is to write code to get input from user and store in dictionary and then store that dictionary in list. Here is the required input.

In [1]:
Student = []
Data = int(input("How many persons of data you want? Enter the figure 2,3,4.."))
for k in range(Data):
    s={'name' : input("Enter your name: "),
    'age' : input("Enter your Age: "),
    'work' : input("Enter your Work: "),
    'skills' : [input("Enter your Skills: use comma for seperater for each skill: ")],
    'degree' : {input("Enter your Degree: title, major, completionDate: ")},
    'salary' : int(input("Enter your salary: "))}
    Student.append(s)

How many persons of data you want? Enter the figure 2,3,4..3
Enter your name: Hamza Ali
Enter your Age: 25
Enter your Work: A.I
Enter your Skills: use comma for seperater for each skill: python, tensorflow, cloud
Enter your Degree: title, major, completionDate: title : BS, major: computer Science, CompletionDate: Jun 2019te
Enter your salary: 259999
Enter your name: Farooq Aziz
Enter your Age: 27
Enter your Work: Cloud Native
Enter your Skills: use comma for seperater for each skill: ubuntu, docker, kubernetes
Enter your Degree: title, major, completionDate: title: MS, major: Software engineer, completionDate: May 2018
Enter your salary: 200000
Enter your name: Abu Bakr
Enter your Age: 30
Enter your Work: Blockchain
Enter your Skills: use comma for seperater for each skill: python, Cryptography, Ethereum
Enter your Degree: title, major, completionDate: title: BS, Major:Computer Science, completionDate: May 2019
Enter your salary: 300000

In [2]:
print(Student)

[{'name': 'Hamza Ali', 'age': '25', 'work': 'A.I', 'skills': ['python, tensorflow, cloud'], 'degree': {'title : BS, major: computer Science, CompletionDate: Jun 2019te'}, 'salary': 259999}, {'name': 'Farooq Aziz', 'age': '27', 'work': 'Cloud Native', 'skills': ['ubuntu, docker, kubernetes'], 'degree': {'title: MS, major: Software engineer, completionDate: May 2018'}, 'salary': 200000}, {'name': 'Abu Bakr', 'age': '30', 'work': 'Blockchain', 'skills': ['python, Cryptography, Ethereum'], 'degree': {'title: BS, Major:Computer Science, completionDate: May 2019'}, 'salary': 300000}]

In [3]:
a= int(input("Enter your starting table number: "))
b= int(input("Enter your ending table Number: "))
for table in range(a,b+1):
    print(" ")
    for t in range(1,11):
        print(table,'x',t,'=',table*t)

Enter your starting table number: 2
Enter your ending table Number: 5

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [4]:
a= int(input("Enter your starting table number: "))
b= int(input("Enter your ending table Number: "))
for t in range(1,11):
    print(end='\n')
    for table in range(a,b+1):
        print(table,'x',t,'=',table*t, end='\t')

Enter your starting table number: 2
Enter your ending table Number: 5

2 x 1 = 2	3 x 1 = 3	4 x 1 = 4	5 x 1 = 5
2 x 2 = 4	3 x 2 = 6	4 x 2 = 8	5 x 2 = 10
2 x 3 = 6	3 x 3 = 9	4 x 3 = 12	5 x 3 = 15
2 x 4 = 8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45
2 x 10 = 20	3 x 10 = 30	4 x 10 = 40	5 x 10 = 50

In [5]:
a= int(input("Enter your starting table number: "))
b= int(input("Enter your ending table Number: "))
for table in range(a,b+1):
    print(end='\n')
    for t in range(1,11):
        print(f" {t} x {table} = {table*t}")

Enter your starting table number: 5
Enter your ending table Number: 10

 1 x 5 = 5
 2 x 5 = 10
 3 x 5 = 15
 4 x 5 = 20
 5 x 5 = 25
 6 x 5 = 30
 7 x 5 = 35
 8 x 5 = 40
 9 x 5 = 45
 10 x 5 = 50

 1 x 6 = 6
 2 x 6 = 12
 3 x 6 = 18
 4 x 6 = 24
 5 x 6 = 30
 6 x 6 = 36
 7 x 6 = 42
 8 x 6 = 48
 9 x 6 = 54
 10 x 6 = 60

 1 x 7 = 7
 2 x 7 = 14
 3 x 7 = 21
 4 x 7 = 28
 5 x 7 = 35
 6 x 7 = 42
 7 x 7 = 49
 8 x 7 = 56
 9 x 7 = 63
 10 x 7 = 70

 1 x 8 = 8
 2 x 8 = 16
 3 x 8 = 24
 4 x 8 = 32
 5 x 8 = 40
 6 x 8 = 48
 7 x 8 = 56
 8 x 8 = 64
 9 x 8 = 72
 10 x 8 = 80

 1 x 9 = 9
 2 x 9 = 18
 3 x 9 = 27
 4 x 9 = 36
 5 x 9 = 45
 6 x 9 = 54
 7 x 9 = 63
 8 x 9 = 72
 9 x 9 = 81
 10 x 9 = 90

 1 x 10 = 10
 2 x 10 = 20
 3 x 10 = 30
 4 x 10 = 40
 5 x 10 = 50
 6 x 10 = 60
 7 x 10 = 70
 8 x 10 = 80
 9 x 10 = 90
 10 x 10 = 100

In [1]:
low = int(input('Enter Table Range From: '))
high = int(input('Enter Table Range To: '))
for ser in range(1,11):
    print()
    for table in range(low,high+1):
        print(f"{table} x {ser} = {table*ser}", end='\t')

Enter Table Range From: 5
Enter Table Range To: 10

5 x 1 = 5	6 x 1 = 6	7 x 1 = 7	8 x 1 = 8	9 x 1 = 9	10 x 1 = 10
5 x 2 = 10	6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18	10 x 2 = 20
5 x 3 = 15	6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27	10 x 3 = 30
5 x 4 = 20	6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36	10 x 4 = 40
5 x 5 = 25	6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45	10 x 5 = 50
5 x 6 = 30	6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54	10 x 6 = 60
5 x 7 = 35	6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63	10 x 7 = 70
5 x 8 = 40	6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72	10 x 8 = 80
5 x 9 = 45	6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81	10 x 9 = 90
5 x 10 = 50	6 x 10 = 60	7 x 10 = 70	8 x 10 = 80	9 x 10 = 90	10 x 10 = 100