# 1. Indexing
Write code for retriving values from list by indexing and print a statement message for given lists

In [1]:
employee_data = ['Ali', 125000, 'Google', 5]
print(employee_data[0], 'is working in',employee_data[2],'for', employee_data[3], 'years and his salary is', employee_data[1])

Ali is working in Google for 5 years and his salary is 125000

In [2]:
studentData = ['Ahmed', 'Bilal', 'Government College University', 'Computer Science', 'BS', 50000,'28 Januray 2020', '05 February 2020']
print("'Hello",studentData[0],studentData[1]+',\nYour application is accepted for admission in "'+ studentData[4],studentData[3]+'" in '+studentData[2]+'.\nYou have to submit fee',studentData[5],'before',studentData[-2]+'.\nYour classes will start from',studentData[-1]+".\nThanks'")

'Hello Ahmed Bilal,
Your application is accepted for admission in "BS Computer Science" in Government College University.
You have to submit fee 50000 before 28 Januray 2020.
Your classes will start from 05 February 2020.
Thanks'

# 2. Slicing
You have a list of cities given as follows. Use positive and negative slicing methods to print out following outputs:

In [3]:
cities = ["Faisalabad", "Lahore", "Islamabad", "Peshawar", "Quetta", "Sahiwal", "Rawalpindi", "Sialkot"]
print("(For positive slicing)\n1.",cities[:4],"\n2.",cities[2:6],"\n3.",cities[5:])
print("(For negative slicing)\n1.",cities[-4:-1],"\n2.",cities[-5:])

(For positive slicing)
1. ['Faisalabad', 'Lahore', 'Islamabad', 'Peshawar']
2. ['Islamabad', 'Peshawar', 'Quetta', 'Sahiwal']
3. ['Sahiwal', 'Rawalpindi', 'Sialkot']
(For negative slicing)
1. ['Quetta', 'Sahiwal', 'Rawalpindi']
2. ['Peshawar', 'Quetta', 'Sahiwal', 'Rawalpindi', 'Sialkot']

# 3. Update Lists 
You have a list of student information. You need to update it for following statements

In [4]:
studentData = ["Ali Raza", 22, 91.24, "Computer Science", 5, "University of Agriculture"]

## Add values to this list using append

1. '20 February 2019'
2. 8

In [5]:
studentData.append("20 February 2019")

In [6]:
studentData.append(8)

In [7]:
print(studentData)

['Ali Raza', 22, 91.24, 'Computer Science', 5, 'University of Agriculture', '20 February 2019', 8]

### Use insert method to insert at specific index

1. 25000 at index 4
2. 'M. Iqbal' at index 1

In [8]:
studentData.insert(4,25000)
print(studentData)

['Ali Raza', 22, 91.24, 'Computer Science', 25000, 5, 'University of Agriculture', '20 February 2019', 8]

In [9]:
studentData.insert(1,"M. Iqbal")
print(studentData)

['Ali Raza', 'M. Iqbal', 22, 91.24, 'Computer Science', 25000, 5, 'University of Agriculture', '20 February 2019', 8]

### Update list using list update method:

1. Change Name from 'Ali Raza' to 'Zohaib Ali'
2. Change No of subjects from 5 to 7

In [10]:
studentData[0]="Zohaib Ali"

In [11]:
print(studentData)

['Zohaib Ali', 'M. Iqbal', 22, 91.24, 'Computer Science', 25000, 5, 'University of Agriculture', '20 February 2019', 8]

In [12]:
studentData[6]=7
print(studentData)

['Zohaib Ali', 'M. Iqbal', 22, 91.24, 'Computer Science', 25000, 7, 'University of Agriculture', '20 February 2019', 8]

# Remove values from list using remove method

1. 'Computer Science'
2. 91.24

In [13]:
studentData.remove("Computer Science")

In [14]:
print(studentData)

['Zohaib Ali', 'M. Iqbal', 22, 91.24, 25000, 7, 'University of Agriculture', '20 February 2019', 8]

In [15]:
studentData.remove(91.24)

In [16]:
print(studentData)

['Zohaib Ali', 'M. Iqbal', 22, 25000, 7, 'University of Agriculture', '20 February 2019', 8]

# Remove using pop method

1. Last value from list
2. value at 3rd index

In [17]:
Pop_Last_value=studentData.pop()
Pop_Last_value

8

In [18]:
studentData.pop(3)

25000

In [19]:
print(studentData)

['Zohaib Ali', 'M. Iqbal', 22, 7, 'University of Agriculture', '20 February 2019']

# For Loop
Tasks

1. Print name of employees with salaray greater than 50000.
2. Calculate total salary of all employees.

In [20]:
employeeData = [["Ali", 35000, "Software Engineer"],["Talha", 55000, "Product Manager"],["Nasir", 79000, "Computer Engineer"], ["Khalid", 44000, "DBA"]]

In [23]:
employeeData[:]

[['Ali', 35000, 'Software Engineer'],
 ['Talha', 55000, 'Product Manager'],
 ['Nasir', 79000, 'Computer Engineer'],
 ['Khalid', 44000, 'DBA']]

In [37]:
employees_total_salary=0
for s in employeeData:
    employees_total_salary+=s[1]  # employees_total_salary=employees_total_salary+employeeData[1]

In [38]:
employees_total_salary

230000

# List update tasks
1. Change salary of nasir from 79000 to 90000 and designation to "Product Manager"
2. Change salary of Khalid to 50000

In [26]:
employeeData[2][1:] = 90000, "Product Manager"

In [27]:
print(employeeData)

[['Ali', 35000, 'Software Engineer'], ['Talha', 55000, 'Product Manager'], ['Nasir', 90000, 'Product Manager'], ['Khalid', 44000, 'DBA']]

In [28]:
employeeData[-1][1]=50000

In [29]:
print(employeeData)

[['Ali', 35000, 'Software Engineer'], ['Talha', 55000, 'Product Manager'], ['Nasir', 90000, 'Product Manager'], ['Khalid', 50000, 'DBA']]

# 5. Login User
You have given some users data. You have to write a script to check if username and password are correct. If username and password are correct. Then you have to check if email is verified or not. If it is verified then print Login Succeed else print Email not verified. If username or password are incorrect you have to print Incorrect Login details

# Data 1
username = "faizan1214"
password = "qwerty"
emailVerified = False

In [30]:
username = "faizan1214"
password = "qwerty"
emailVerified=False
if username=="faizan1214" and password == "qwerty":
    if emailVerified==True:
        print("Login succeed")
    else:
        print("Email not verified")
else:
    print("Incorrect Login detail")

Email not verified

# # Data 2
username = "faizan1214"
password = "qwerty"
emailVerified = True

In [31]:
username = "faizan1214"
password = "qwerty"
emailVerified=True
if username=="faizan1214" and password == "qwerty":
    if emailVerified==True:
        print("Login succeed")
    else:
        print("Email not verified")
else:
    print("Incorrect Login detail")

Login succeed

In [32]:
username = "faizan1234"
password = "qwerty"
emailVerified=True
if username=="faizan1214" and password == "qwerty":
    if emailVerified==True:
        print("Login succeed")
    else:
        print("Email not verified")
else:
    print("Incorrect Login detail")

Incorrect Login detail